* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 40%);
    width: 100vw;
    height: 100vh;
}

.container {
    width: 802px;
    height: 502px;
    margin: auto;
    padding-top: 10px;
}

.sliderBx {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    width: 400%;
    height: 500px;
    display: flex;
}

.slides input {
    position: relative;
    top: 0;
    display: none;
}

.slides img {
    width: 800px;
    height: 100%;
}

.slide {
    transition: 1s;
}

.navigation {
    text-align: center;
    margin-top: 30px;
}

.navigation label {
    border: 2px solid salmon;
    padding: 0px 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.navigation label:hover {
    background: salmon;
}

.current {
    background: salmon;
}

.navigation label:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}
